{% extends env.VIEWS_PATH_RELATIVE ~ '/' ~ req.theme ~ '/base.html.twig' %}
{% block title %}{{ req.routing.defaults._title }}{% endblock %}
{% block body %}

    <a class="btn btn-primary" href="/content/types/add">Add Content Type</a>

    <hr />

    <table class="table table-sm table-light">
        {% for contentType in contentTypes %}
            <tr>
                <td align="left">
                    <aside class="btn-group">
                        <a class="btn btn-success" href="/content/add/{{ contentType }}">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a class="btn btn-outline-success">{{ contentType }}</a>
                    </aside>
                </td>
                <td align="right">
                    <form action="/content/types/delete" method="POST">
                        <button type="submit" class="btn btn-danger" name="{{ contentType }}" value="{{ contentType }}">delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
